.CabinetSection {
  display: flex;
  gap: 0.5rem;
  img {
    height: 3.2rem;
  }

  li {
    font-size: 70%;
  }

  a {
    text-decoration: none;
    color: #cc0033;
  }

  a:hover {
    text-decoration: underline;
  }
}
